.post{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.post img{
    width: 500px;
}

.tags{
    display: flex;
    flex-direction: row;
}